<% if Favorite.find_by(user_id: current_user.id, book_id: book.id) %>
            <%= link_to("/favorites/#{book.id}/destroy", method: :POST ) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/favorites/#{book.id}/create", method: :POST ) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>